<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <ul class="color-chips group">
        <li class="color" style="padding: 20px;">
            <div style="padding: 20px;background-color: #E1E0E2" title="#E1E0E2">#E1E0E2</div>
        </li>
        <li class="color" style="padding: 20px;">
            <div style="padding: 20px;background-color: #C0BEC4" title="#C0BEC4">#C0BEC4</div>
        </li>
        <li class="color" style="padding: 20px;">
            <div style="padding: 20px;background-color: #2B2624" title="#2B2624">#2B2624</div>
        </li>
        <li class="color" style="padding: 20px;">
            <div style="padding: 20px;background-color: #E86E0D" title="#E86E0D">#E86E0D</div>
        </li>
        <li class="color" style="padding: 20px;">
            <div style="padding: 20px;background-color: #EAD7B3" title="#EAD7B3">#EAD7B3</div>
        </li>
        <li class="color" style="padding: 20px;">
            <div style="padding: 20px;background-color: #E19D40" title="#E19D40">#E19D40</div>
        </li>
    </ul>


    <ul class="color-chips group">
        <li class="color" style="padding: 20px;">
            <div style="padding: 20px;background-color: #EDEEF1" title="#EDEEF1" href="/colors/EDEEF1">#EDEEF1</div>
        </li>
        <li class="color" style="padding: 20px;">
            <div style="padding: 20px;background-color: #A9B0C6" title="#A9B0C6" href="/colors/A9B0C6">#A9B0C6</div>
        </li>
        <li class="color" style="padding: 20px;">
            <div style="padding: 20px;background-color: #0D1D94" title="#0D1D94" href="/colors/0D1D94">#0D1D94</div>
        </li>
        <li class="color" style="padding: 20px;">
            <div style="padding: 20px;background-color: #070F64" title="#070F64" href="/colors/070F64">#070F64</div>
        </li>
        <li class="color" style="padding: 20px;">
            <div style="padding: 20px;background-color: #3F53C2" title="#3F53C2" href="/colors/3F53C2">#3F53C2</div>
        </li>
        <li class="color" style="padding: 20px;">
            <div style="padding: 20px;background-color: #1FACE9" title="#1FACE9" href="/colors/1FACE9">#1FACE9</div>
        </li>
        <li class="color" style="padding: 20px;">
            <div style="padding: 20px;background-color: #2F386F" title="#2F386F" href="/colors/2F386F">#2F386F</div>
        </li>
    </ul>
</body>

</html>