<!DOCTYPE html>
<!-- saved from url=(0039)file:///C:/Users/1021712/Desktop/a.html -->
<html lang="en" style=" height: 100%;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
        .body-container {
            justify-content: center;
            align-items: center;
            display: flex;
            height: 100%;
            flex-direction: column;
        }

        .loader {
            border: 16px ridge #3498db;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            -webkit-animation: spin 2s linear infinite;
            /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body style="
    height: 100%;margin:0px">
    <div class="body-container">
        <div class="loader"></div>
        <div style="
    padding: 20px;
">
            Processing, Please Wait..
        </div>
    </div>
    <form name="paytm_form" action="https://securegw-stage.paytm.in/order/process" method="post">
        <% for(name in params){%>
        <input type="hidden" id="<%=name%>" name="<%=name%>" value="<%=params[name]%>" />
        <%}%>
      <button type="submit" hidden="hidden"></button>
    </form>
    <script>
        document.paytm_form.submit();
    </script>
  </body>
</html>