<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>

  <body>
    <div>Processing, Please Wait..</div>
    <form
      name="paytm_form"
      action="https://securegw-stage.paytm.in/order/process"
      method="post"
    >
      <% for(name in params){%>
      <input
        type="hidden"
        id="<%=name%>"
        name="<%=name%>"
        value="<%=params[name]%>"
      />
      <%}%>
      <button type="submit" hidden="hidden"></button>
    </form>
    <script>
      document.paytm_form.submit();
    </script>
  </body>
</html>
